.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading{
  margin-top: 20%;
}

.dolike{
  color: #ff0000;
  animation-name: likeanima;
  animation-duration: 0.5s;
  width: 2rem;
  height: 2rem;
 
  margin-top: 0.6em;
}
@keyframes likeanima {
  0%   {width: 2.5rem; height: 2.5rem;}
  10%  {width: 2.7rem; height: 2.7rem;}
  20%  {width: 2.9rem; height: 2.9rem;}
  30%  {width: 3rem; height: 3.0rem;}
  40%  {width: 2.9rem; height: 2.9rem;}
  50%  {width: 2.8rem; height: 2.8rem;}
  60%  {width: 2.7rem; height: 2.7rem;}
  70%  {width: 2.6rem; height: 2.6rem;}
  80%  {width: 2.5rem; height: 2.5rem;}

}
.notlike{
  color :#282c34;
  width: 2rem;
  height: 2rem;
  margin-top: 0.6em;
}
.socialIcon{
  margin-top: 0.6em;
}

.imagesInCard{
  height: 15rem;
  object-fit: cover;
  width: 100%;

}
.textInCard{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.everyCard{
  border-radius: 1%;
  border-style: solid;
  
}
.everyCard:hover{
  box-shadow: 5px 5px 5px 5px #888888;
}
.moreSpan{
  
  font-weight: bold;
  text-decoration: underline;
}
.lessSpan{
  
  font-weight: bold;
  text-decoration: underline;
}
.copyright{
  text-align: center;
}
#search{
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
}
.searchdiv{
  height: 4rem;
  top: 0rem;
  position: sticky;
  z-index: 1000;
  background-color:white;
 
}
#search:focus{
  outline: none!important;
  box-shadow: none!important;
}

.cardTitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.socialRow{
  height: 3rem;
}
.headertext1{
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: xx-large;
}
.headertext2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: x-large;
}

.headertext{
  height: 17rem;
}

.spaceIcon{
  color:#cfcdd1b4;
  opacity: 50%;
}

.backgroundHead{
  position: relative;
  top:0%;
  right: 0%;
  left: 0%;
  height: 25rem;
  width: 100%;
  z-index: -100;
}